openapi: 3.0.3
info:
  title: LendWizely Chat Bot API
  description: Production-ready API for LendWizely chat bot services
  version: 1.0.0
  contact:
    name: LendWizely Development Team
    email: dev@lendwizely.com
    url: https://lendwizely.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.lendwizely.com
    description: Production server
  - url: https://staging-api.lendwizely.com
    description: Staging server
  - url: http://localhost:8080
    description: Development server

paths:
  /healthz:
    get:
      summary: Health check
      description: Basic health check endpoint to verify service is running
      operationId: health_check
      tags:
        - health
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              example:
                status: "healthy"
                timestamp: 1703123456.789
                version: "1.0.0"

  /readyz:
    get:
      summary: Readiness check
      description: Readiness check endpoint with dependency validation
      operationId: readiness_check
      tags:
        - health
      responses:
        '200':
          description: Service readiness status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponse'
              example:
                status: "ready"
                timestamp: 1703123456.789
                version: "1.0.0"
                checks:
                  config: "ok"
                  openai: "ok"
                  plaid: "ok"

components:
  schemas:
    HealthResponse:
      type: object
      required:
        - status
        - timestamp
        - version
      properties:
        status:
          type: string
          description: Health status
          example: "healthy"
        timestamp:
          type: number
          format: float
          description: Unix timestamp
          example: 1703123456.789
        version:
          type: string
          description: API version
          example: "1.0.0"

    ReadinessResponse:
      type: object
      required:
        - status
        - timestamp
        - version
        - checks
      properties:
        status:
          type: string
          description: Overall readiness status
          enum: ["ready", "not_ready"]
          example: "ready"
        timestamp:
          type: number
          format: float
          description: Unix timestamp
          example: 1703123456.789
        version:
          type: string
          description: API version
          example: "1.0.0"
        checks:
          type: object
          description: Individual dependency checks
          additionalProperties:
            type: string
          example:
            config: "ok"
            openai: "ok"
            plaid: "ok"

    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - message
            - type
          properties:
            message:
              type: string
              description: Error message
              example: "Validation failed"
            type:
              type: string
              description: Error type
              example: "ValidationError"
            details:
              type: object
              description: Additional error details
              additionalProperties: true

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token for authenticated endpoints

    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for partner integrations

tags:
  - name: health
    description: Health and readiness checks
  - name: bank
    description: Bank statement analysis (Phase 2)
  - name: offers
    description: Loan offer generation (Phase 2)
  - name: sms
    description: SMS messaging (Phase 2)
  - name: signature
    description: E-signature services (Phase 2)
  - name: events
    description: Event management (Phase 2)
  - name: background
    description: Background checks (Phase 2)